<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimApp</title>
    <link rel="stylesheet" href="../main.css">
    <!-- ICONO DE LAS PESTAÑAS-->
    <link rel="icon" href="../src/icons/LogoIco.ico">
</head>
<body> 
    <div class="sticky top-0 z-50 p-7 bg-gradient-to-b from-sky-300 to-blue-400 text-slate-700 shadow-md flex justify-between flex-col md:flex-row items-center">
        <a href="../index.html"><h1 class="text-4xl font-bold text-slate-100 hover:opacity-80 md:mb-0 mb-3 hover:scale-105">Clim<span class="text-amber-300">App</span></h1></a>
        <nav class="flex gap-5 items-center">
            <a href="./verClima.html" class="text-slate-100 text-xl font-semibold hover:text-amber-300 hover:scale-105">Ver Clima</a>
            <a href="" class="text-xl font-semibold text-amber-300 hover:scale-105">Blog</a>
            <a href="./contacto.html" class="text-slate-100 text-xl font-semibold hover:text-amber-300 hover:scale-105">Contacto</a>
        </nav> 
    </div>
    <main>
        <section>
                <div class="bg-[url('./src/images/fondoArticulos.jpg')] bg-cover bg-center">
                    <div class="bg-black bg-opacity-50 h-20 md:h-40 flex items-center justify-center">
                        <h3 class="md:text-6xl text-4xl mb-3 font-bold uppercase text-slate-100">Artículos</h2>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-6 md:m-14 m-2">
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://cambioclimatico.gob.mx/que-es-el-clima/">
                        <img src="../src/images/articulo1.jpg" class="h-80 object-cover w-full" alt="Artículo 1" title="Artículo 1">
                        <h3 class="text-2xl text-slate-700 font-bold">¿Qué es el clima?</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.ecologiaverde.com/elementos-y-factores-del-clima-3167.html">
                        <img src="../src/images/artículo2.webp" class="h-80 object-cover w-full" alt="Artículo 2" title="Artículo 2">
                        <h3 class="text-2xl text-slate-700 font-bold">Elementos y factores del clima</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.bbvaopenmind.com/articulos/cambio-de-clima-en-el-planeta-tierra/">
                        <img src="../src/images/articulo3.jpg" class="h-80 object-cover w-full" alt="Artículo 3" title="Artículo 3">
                        <h3 class="text-2xl text-slate-700 font-bold">Cambio de clima en el planeta tierra</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.enelgreenpower.com/es/learning-hub/gigawhat/buscar-articulos/articles/2022/10/clima">
                        <img src="../src/images/articulo4.jpg" class="h-80 object-cover w-full" alt="Artículo 4" title="Artículo 4">
                        <h3 class="text-2xl text-slate-700 font-bold">El clima y el tiempo no son lo mismo.</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.areaciencias.com/fisica/instrumentos-meteorologicos/">
                        <img src="../src/images/articulo5.jpg" class="h-80 object-cover w-full" alt="Artículo 5" title="Artículo 5">
                        <h3 class="text-2xl text-slate-700 font-bold">Aparatos o Instrumentos Meteorológicos</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://blogthinkbig.com/prediccion-meteorologica-ia">
                        <img src="../src/images/articulo6.webp" class="h-80 object-cover w-full" alt="Artículo 6" title="Artículo 6">
                        <h3 class="text-2xl text-slate-700 font-bold">La IA mejora la predicción meteorológica al simular la formación de cristales de hielos</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://blogthinkbig.com/5-cosas-que-puedes-hacer-por-tu-bolsillo-y-por-el-clima">
                        <img src="../src/images/articulo7.webp" class="h-80 object-cover w-full" alt="Artículo 7" title="Artículo 7">
                        <h3 class="text-2xl text-slate-700 font-bold">5 cosas que puedes hacer por tu bolsillo y por el clima</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.retema.es/actualidad/cinco-articulos-sobre-cambio-climatico-debes-leer">
                        <img src="../src/images/articulo8.webp" class="h-80 object-cover w-full" alt="Artículo 8" title="Artículo 8">
                        <h3 class="text-2xl text-slate-700 font-bold">Cinco artículos sobre cambio climático que debes leer</h3>
                    </a>
                    <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://paratodomexico.com/geografia-de-mexico/climas-de-mexico.html">
                        <img src="../src/images/articulo9.png" class="h-80 object-cover w-full" alt="Artículo 9" title="Artículo 9">
                        <h3 class="text-2xl text-slate-700 font-bold">Climas de México - Distribución por tipos de climas y Estados</h3>
                    </a>
                </div>
        </section>
        <section>
            <div class="bg-[url('./src/images/fondoNoticias.jpg')] bg-cover bg-center">
                <div class="bg-black bg-opacity-50 h-20 md:h-40 flex items-center justify-center">
                    <h3 class="md:text-6xl text-4xl mb-3 font-bold uppercase text-slate-100">Noticias</h2>
                </div>
            </div>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-6 md:m-14 m-2">
                <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.excelsior.com.mx/comunidad/mas-de-168-arboles-caidos-por-lluvia-del-sabado-en-cdmx/1604271">
                    <img src="../src/images/noticia1.jpg" class="h-80 object-cover w-full" alt="Noticia 1" title="Noticia 1">
                    <h3 class="text-2xl text-slate-700 font-bold">Más de 168 árboles caídos por lluvia del sábado en CDMX</h3>
                </a>
                <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.infobae.com/mexico/2023/10/04/fuerte-lluvia-provoco-inundaciones-al-oriente-de-la-cdmx/">
                    <img src="../src/images/noticia2.jpg" class="h-80 object-cover w-full" alt="Noticia 2" title="Noticia 2">
                    <h3 class="text-2xl text-slate-700 font-bold">Fuerte lluvia provocó inundaciones al Oriente de la CDMX</h3>
                </a>
                <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.elsoldeacapulco.com.mx/local/por-otis-disminuye-45-la-inseguridad-en-acapulco-11138285.html">
                    <img src="../src/images/noticia3.jfif" class="h-80 object-cover w-full" alt="Noticia 3" title="Noticia 3">
                    <h3 class="text-2xl text-slate-700 font-bold">Por Otis disminuye 45% la inseguridad en Acapulco</h3>
                </a>
                <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.excelsior.com.mx/nacional/clima-mexico-hoy-16-diciembre-2023-nevadas-popo-pico-de-orizaba-iztaccihuatl/1625577">
                    <img src="../src/images/noticia4.jpg" class="h-80 object-cover w-full" alt="Noticia 4" title="Noticia 4">
                    <h3 class="text-2xl text-slate-700 font-bold">Se prevén nevadas en el Popo, Pico de Orizaba y el Nevado de Toluca
                    </h3>
                </a>
                <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.milenio.com/estados/clima-en-mexico-hoy-17-de-diciembre-se-espera-calor-intenso">
                    <img src="../src/images/noticia5.webp" class="h-80 object-cover w-full" alt="Noticia 5" title="Noticia 5">
                    <h3 class="text-2xl text-slate-700 font-bold">Prevén temperaturas de hasta 40°C en estos estados; AQUÍ el clima de hoy</h3>
                </a>
                <a class="hover:opacity-70 hover:scale-105" target="_blank" href="https://www.debate.com.mx/estados/Clima.-Habra-helado-amanecer-en-varios-estados-y-no-faltaran-lluvias-y-calor-en-varias-entidades-20231216-0242.html">
                    <img src="../src/images/noticia6.webp" class="h-80 object-cover w-full" alt="Noticia 6" title="Noticia 6">
                    <h3 class="text-2xl text-slate-700 font-bold">Habrá helado amanecer en varios estados, y no faltarán lluvias y calor en varias entidades</h3>
                </a>
            </div>
        </section>
    </main>
    <footer class="mt-2 text-center bg-gradient-to-b from-sky-300 to-blue-400 lg:text-left">
        <div class="p-5 text-center text-white text-1xl">
        © 2023 Copyright:
        <a
            class="text-amber-300"
            >ASGV, IMO, JDMP</a>
        </div>
    </footer>
</body>
</html>